.container {
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.main {
  margin: auto;
  width: 30%;
}
.flex {
  display: flex;
}
input {
  width: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: aliceblue;
}
.form-label {
  margin-top: 50px;
}
.btn {
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
  color: antiquewhite;
}
.form-btn {
  background-color: rgb(38, 107, 185);
}
.form-btn:hover {
  background-color: rgb(103, 160, 226);
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
li {
  width: 200px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav {
  margin: 40px 0px;
  height: 5vh;
  width: 100%;
  color: rgb(5, 66, 66);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.todo-main {
  background-color: aqua;
}
.todo-component {
  position: relative;
  left: 15%;
  width: 70%;
}
.todo {
  justify-content: center;
}
.title {
  width: 30vh;
}
.desc {
  width: 50vh;
}
.btn-del {
  margin: 12px 0px;
  height: 30px;
  border: 0px solid white;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(201, 56, 56);
}
.btn-del:hover {
  background-color: rgb(209, 98, 98);
}
.btn-edith {
  margin: 12px 6px;
  height: 30px;
  border: 0px solid white;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(40, 155, 184);
}
.btn-edith:hover {
  background-color: rgb(89, 223, 223);
}

.modal-edith {
  display: none;
}

/* media query */

@media only screen and (max-width: 900px) {
  .main {
    margin: 8%;
    width: 75%;
    padding: 20px;
  }
}

/* end mobile media query */

/* media query */

@media screen and (max-width: 400px) {
  .main {
    margin: 8%;
    width: 75%;
    padding: 20px;
  }
  .container {
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  .main {
    margin: auto;
    width: 60%;
  }
  input {
    width: 180px;
  }
  .todo {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .title {
    padding: 10px 0px;
    margin: 0px;
    width: 10vh;
  }
  .desc {
    padding: 10px 0px;
    width: 10vh;
    margin: 0px;
    background-color: aqua;
  }
  .btn-del {
    font-size: 9px;
    width: 50px;
  }
  .btn-edith {
    font-size: 9px;
    margin: 1px 0px;
    width: 50px;
  }
}

/* end media query */
